@use "sass:math";

// mixin ==================================================================================================================================================================================================================================================================================================================================
// @import "_mixin";

// fonts / iconmoon ==================================================================================================================================================================================================================================================================================================================================
@import "_fonts";

$fontFamily: "Inter", sans-serif;
$fontSize: calc(16 / 16) + rem;

// переменные ==================================================================================================================================================================================================================================================================================================================================
:root {
   --index: calc(1vw + 1vh);
   --padding: 2vh 2vw;
}

// color ==================================================================================================================================================================================================================================================================================================================================
$colorDark-violet: #2b3142;
$colorViolet: #9f51e0;
$colorWhite: #fff;
$colorBg: #e1e1e1;
$colorDescription: #8e8e8e;
$colorlinear-Grad: linear-gradient(137deg, #2b83e5 11.41%, #00caf9 51.73%, #00fa53 87.3%);

// breakpoints ==================================================================================================================================================================================================================================================================================================================================
$pc: 1334px;
$laptop: 1000px;
$tablet: 767.98px;
$mobile: 424.98px;
// nullstyle ==================================================================================================================================================================================================================================================================================================================================
@import "_nullstyle";

// wrapper ==================================================================================================================================================================================================================================================================================================================================

body {

   @media (min-width: $pc) {
      height: calc(var(--index) * 247);
   }
   @media (min-width: 300px) {
      height: calc(var(--index) * 520);
   }

   &.lock {
      overflow: hidden;
   }
}
a,
button {
   font-family: $fontFamily;
   color: $colorWhite;
}
.media {
   position: fixed;
   right: 3vw;
   bottom: 3vh;
   width: 24px;
   cursor: pointer;

   &.paused {
      opacity: 0.25;
   }
}
// поключение основных файлов стилей ==================================================================================================================================================================================================================================================================================================================================

@import "_main";

// подключение section
@import "_page";

// подключение дополнительных файлов стилей
// @import "_popup";

// wrapper ========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
